body{
  padding:25px;
  background-color: rgb(233, 233, 233);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  text-align:center;
  border-bottom: solid 2px black;
  border-width: 75%;
}

h1{
  font-size: 3em;
  margin-top: 50px;
}

#top{
  display: grid;
  grid-template-columns: 33% 67%;
  margin-top: 100px;
}

main aside{
  border-radius: 45px;
  background: linear-gradient(145deg, #fcfcfc, #dbdbdb);
  box-shadow:  30px 30px 60px #9f9b9b,
             -30px -30px 60px #ffffff;
  text-align: center;
  margin:25px;
  padding:25px;
}

#view-results{
  
  width: max-content;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
}

#view-results h2{
  color:rgba(28, 149, 248, 0.973);
  font-size: 24px;
  font-weight: bold;
  font-family: 'Vollkorn', serif;
}

main section{
  border-radius: 45px;
  
  background: linear-gradient(145deg, #fcfcfc, #dbdbdb);
  box-shadow:  30px 30px 60px #9f9b9b,
             -30px -30px 60px #ffffff;
  display: flex;
  margin: 25px;
}

section img{
  width:30%;
  margin: 25px auto 25px auto;
  height: 250px;
  width: 250px;
  border: rgb(173, 172, 172) solid 2px;
}
/* chart */
#bottom{
  width: 50%;
  margin: auto;
}
canvas{
  border-radius: 45px;
background: linear-gradient(145deg, #fcfcfc, #dbdbdb);
box-shadow:  30px 30px 60px #9f9b9b,
             -30px -30px 60px #ffffff;
  
}
